@media (min-width: 1200px){
	/*lg*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6  > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 992px) and (max-width:1199px){
	/*md*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-md-2:nth-child(6n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	.product-item-list-col-6-1 > .col-sm-6 > .row > .col-md-4:nth-child(3n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-md-3:nth-child(4n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (min-width: 768px) and (max-width: 991px){
	/*sm*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	.product-item-list-col-1-6 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}
@media (max-width: 767px){
	/*xs*/
	/*6*/
	.product-item-list-col-6   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-6 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-6-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*4*/
	.product-item-list-col-4   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-1-4 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	.product-item-list-col-4-1 > .col-sm-6 >  .row > .col-xs-6:nth-child(2n+1),
	/*3*/
	.product-item-list-col-3   > .col-xs-12 > .row > .col-sm-4:nth-child(3n+1),
	/*2*/
	.product-item-list-col-2   > .col-xs-12 > .row > .col-xs-6:nth-child(2n+1),
	/*1*/
	.product-item-list-col-1   > .col-xs-12 > .row > .col-xs-12:nth-child(1n){clear: both}
}

.catalog-section-header{
	font-size:14px;
	font-weight: bold;
	text-align: left;
	margin:5px 0;
	padding:5px 15px;
	border-bottom: 2px solid #d9dee6;
	color: #000;
}

.row::before {
	display: initial;
}

.table_container {
	width: 100%;
	max-width: 983px;
	overflow: hidden;
}

.quick__basket_form {
	position: sticky;
	top: 70px;
}

.counter__left, .counter__right {
	cursor: pointer;
	user-select: none;
}
.basket__list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.quick_basket {
	display: flex;
	justify-content: center;
}

.wrapper1:not(.front_page):not(.catalog_page) .right_block.wide_, .wrapper1:not(.front_page):not(.catalog_page) .right_block.wide_N {
	width: 100% !important;
}

.quick__basket_list {
	width: 100%;
	max-width: 983px;
	margin-right: 40px;
}

.d67fa_tab {
	display: flex;
	width: 100%;
	height: 70px;
}

.d67fa_tab_item:focus {
	outline: none;
}

.tab__item {
	display: none;
}

.tab__item.-active {
	display: flex;
	flex-direction: column;
	outline: none;
}

.item__mark {
	margin-right: 8px;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
}

.item__class {
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #D83D38;
}

.product__link {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	color: #333333;
	text-align: center;
}

.d67fa_tab_item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	background: #F3F4F6;
	font-family: 'Montserrat';
	border: 1px solid #DEDEDE;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #D83D38;
	cursor: pointer;
}

.d67fa_tab_item.-active {
	color: white;
	background: #D83D38;
	border: none;
}

.form_orderxx {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 326px;
	background: #FFFFFF;
	border: 1px solid #ECECEC;
}

.form__header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 69px;
	background: #F3F4F6;
	padding: 20px;
}

.form__header_img {
	width: 32px;
	height: 32px;
	margin-right: 12px;
	margin-left: 0;
}

.form__header_title {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #333333;
}

.form__price {
	width: 100%;
	height: 150px;
	padding: 24px 20px 25px;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
}

.form__footer {
	width: 100%;
	height: 230px;
	padding: 26px 20px 30px;
}

.form__footer_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #D83D38;
	border-radius: 4px;
	outline: none;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #D83D38;
}

button.form__footer_basket {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 0;
	background: #D83D38;
	border-radius: 4px;
	outline: none;
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.form__footer_basket_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-left: 1px solid white;
}

.form__footer_basket > span:first-child {
	width: 100%;
	flex: 1;
    height: 100%;
    line-height: 52px;
}

.form__button_divider {
	display: block;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 9px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #333333;
}

.form__price_row:last-of-type {
	align-items: flex-end;
}

.form__price_row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.final_price {
	display: block;
	height: 24px;
	font-weight: 600;
	font-size: 22px;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.basket__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 70px;
	padding: 14px 20px 16px;
}

.basket__item_close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 15px;
	height: 15px;
	padding: 0;
	outline: none;
	border: none;
	line-height: 15px;
	background: #D83D38;
	color: white;
	cursor: pointer;
}

.basket__item_count {
	white-space: nowrap;
}

.basket__item_name {
	display: block;
	width: 180px;
	max-height: 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	overflow: hidden;
}

.a1a01__row {
	display: flex;
	align-items: center;
	border: 1px solid #ECECEC;
	width: 983px;
	height: 60px;
	margin-bottom: -1px;
	will-change: background;
}

.table_container .a1a01__row:last-of-type {
	border-bottom: 2px solid #ECECEC;
}

.a1a01__row.-active {
	background: #FDF5F5;
}

.a1a01__row.-active .counter__left,
.a1a01__row.-active .counter__right,
.a1a01__row.-active .counter__value {
	color: #D83D38;
}

.table_title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background: #302E2F;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.table__header {
	display: flex;
	/* width: fit-content; */
	width: 983px;
	height: 50px;
	align-items: center;
	background: #F3F4F6;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: #333333;
	border: 1px solid #ECECEC;
}

.a1a01__row_item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-right: 1px solid white;
}

.a1a01__row_item:first-of-type {
	min-width: 118px;
}

.a1a01__row_item:nth-of-type(2) {
	/*
	max-width: 400px;
	min-width: 400px;
	*/
	width: 100%;
}

.a1a01__row_item:nth-of-type(3) {
	max-width: 160px;
	min-width: 160px;
}

.a1a01__row_item:nth-of-type(4) {
	max-width: 190px;
	min-width: 190px;
}

.a1a01__row_item:nth-of-type(5) {
	max-width: 113px;
	min-width: 113px;
}

.a1a01__row_item:nth-of-type(6) {
	display: none;
}

.a1a01__row_item:last-of-type {
	border-right: none;
}

.counter__wrap {
	width: 150px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border: 1px solid #ECECEC;
	border-radius: 4px;
}

.counter__left, .counter__value, .counter__right {
	width: 50px;
	background: transparent;
	color: #333333;
	text-align: center;
}

.counter__value {
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
	outline: none;
	border-top: none;
	border-bottom: none;
	box-shadow: none;
	color: #666666;
}

/* Chrome, Safari, Edge, Opera */
.counter__value::-webkit-outer-spin-button,
.counter__value::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.counter__value {
	-moz-appearance: textfield;
}

.a1a01__row .a1a01__row_item {
	border-right: 1px solid #ECECEC;
}

.float__form {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90px;
	background: #D83D38;
	z-index: 999;
}

.float__form_counterList {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 100%;
}

.float__form_counterItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	padding: 0 30px;
}

.float__form_divider {
	width: 1px;
	height: 20px;
	background: rgba(255, 255, 255, 0.25);
}

.float__form_counterTitle {
	display: block;
	margin-bottom: 9px;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FFCCCA;
}

.float__form_counterValue,
.float__form_discount {
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #FFFFFF;
    text-overflow: ellipsis;
    overflow: hidden;
}

.float__form_counterPrice {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	color: #FFFFFF;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.float__form_btnWrap {
	display: flex;
}

.float__form_btn {
	padding: 18px 50px 17px;
	margin-right: 20px;
	background: #D83D38;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.float__form_basket span {
	flex: 1;
}

.float__form_basket {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 279px;
	height: 50px;
	background: #FFFFFF;
	border-radius: 4px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #D83D38;
	outline: none;
	border: none;
}

.float__form_basket_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-left: 1px solid #D83D38;
}

.quick_basket__container {
	width: 100%;
}

.quick_basket__title {
	max-width: 1408px;
    background: #d83d38;
    text-align: center;
    padding: 25px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

@media all and (min-width: 1361px) {
	.float__form {
		display: none;
	}
}

@media all and (max-width: 1360px) {
	.form_orderxx {
		display: none;
	}
}

@media all and (max-width: 1024px) {
	.table_container {
		overflow-x: scroll;
	}

	.tab__item {
		padding-bottom: 60px;
	}
}

@media all and (max-width: 768px) {
	.float__form {
		padding: 0 10px;
	}
	.float__form_basket_icon {
		display: none;
	}

	.quick__basket_list {
		margin-right: 0;
	}

	.float__form_basket {
		width: 150px;
	}

	.d67fa_tab {
		position: sticky;
		left: 0;
	}

	.float__form_counterList {
		justify-content: space-evenly;
	}

	.float__form_counterItem {
		width: auto;
	}

	.a1a01__row_item:first-of-type {
		display: none;
	}

	.a1a01__row_item:nth-of-type(2) {
		max-width: 316px;
		min-width: auto;
		padding: 5px 10px;
	}

	.a1a01__row_item:nth-of-type(3) {
		min-width: 140px;
		max-width: 140px;
	}

	.a1a01__row_item:nth-of-type(4) {
		border: none;
	}

	.a1a01__row_item:last-of-type {
		display: none;
	}

	.a1a01__row, .table__header {
		min-width: 648px;
		max-width: 648px;
		width: 100%;
		position: relative;
	}
	/*
	.tab__item {
		position: relative;
	}
	.tab__item::after {
		content: '';
		width: 10px;
		height: 100%;
		display: block;
		position: absolute;
		right: 0;
		background: red;
	}
	*/
}

@media all and (max-width: 700px) {
	.float__form_sale,
	.float__form_sale+.float__form_divider {
		display: none;
	}
	.quick_basket.maxwidth-theme {
		width:100%;
		padding-left: 0;
		padding-right: 0;
	}
	.table_container {
		position: relative;
	}
	.table_container:after {
		content:'';
		position: absolute;
		top:0;
		right:0;
		background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgb(48 46 47 / 0.2) 100%);
		width: 50px;
		height: 100%;
		opacity: 1;
		transition: opacity 0.3s, visibility 0s linear 0.3s;
		visibility: visible;
	}
	.table_container.scrollx:after {
		opacity:0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0s linear 0.3s;
	}
	.quick_basket__container {
		padding: 0!important;
	}
}

@media all and (max-width: 576px) {
	.a1a01__row_item:nth-of-type(5), .a1a01__row_item:nth-of-type(5) {
		display: none;
	}

	.float__form_value,
	.float__form_value+.float__form_divider {
		display: none;
	}

	.float__form_counterList {
		justify-content: flex-start;
	}
}

@media all and (max-width: 600px) {
	.d67fa_tab {
		flex-direction: column;
		height: auto;
		margin-bottom: 5px;
	}
	.d67fa_tab_item {
		height: 30px;
		line-height: 48px;
		font-size: 15px;
	}
	.d67fa_tab_item.-active {
		height: 32px;
		line-height: 48px;
	}
}

@media (min-width: 1360px) and (max-width: 1480px) {

/*
max-width:1480	-	.quick__basket_list {max-width: 850px)
.table_container {
	    max-width: 850px;

}
.table__header {width: 850px;}
.width: 850px; {
	width: 850px;
}
*/
	.quick__basket_list {max-width: 850px; margin-right: 20px;}
	.a1a01__row, .table_container {max-width: 850px;}
	.table__header {width: 850px;}
	.width: 850px; {width: 850px;}
}

@media (max-width: 1361px) {
	.b24-widget-button-position-bottom-left {
		left: 25px!important;
		bottom: 115px!important;
	}
}

.hideme {
	display: none;
}
.a1a01_compare {
	cursor: pointer;
	text-align: center;
	position: relative;
}
.a1a01_compare svg {
	width: 19px;
    margin-top: 8px;
	fill: #333333;
}
.a1a01_compare.active svg {
	fill: #dd5652;
}
.goCompare {
    display: none;
	font-size: 10px;
    position: absolute;
    left: -150px;
    top: 2px;
    background: #fff;
    padding: 3px 7px;
    border: 2px solid #ececec;
}
.goCompare:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 25px;
    right: -19px;
}
.goCompare:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    transform: rotate(45deg);
    right: -9px;
    top: 8px;
    border: 2px solid #ececec;
    border-left: none;
    border-bottom: none;
}
.a1a01_compare.active:hover .goCompare {
    display: block;
}
.basket__list {
    max-height: 280px;
    overflow-y: auto;
}
.basket__list::-webkit-scrollbar { width: 3px; height: 3px;}
.basket__list::-webkit-scrollbar-button {  background-color: #fff; }
.basket__list::-webkit-scrollbar-track {  background-color: #fff;}
.basket__list::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.basket__list::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
.basket__list::-webkit-scrollbar-corner { background-color: #fff;}
.basket__list::-webkit-resizer { background-color: #666;}
.discont_hide, .float__form_sale {
	display:none;
}
.float__form {
	display:none
}

.iv-i{
	display:block;
	margin:0;
	padding:0;
	border:0;
	width: 100%;
	height: 180px;
}
@media (min-width: 320px) and (max-width: 768px){
	body .iv-i{
		height: 285px;
	}
}

.priceDownload{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 326px;
	background: #FFFFFF;
	border: 1px solid #ECECEC;
	margin-top: 15px;
	padding: 26px 20px 30px;
}
.listDonwnload{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-top: 10px;
}
.listDonwnload a{
	text-align: center;
}
.lword{
	color: #2150a9;
}
.lexcel{
	color: #18482a;
}
.lpdf{
	color: #cb0101;
}
.linkPrice{
	display: block;
	line-height: 1.3;
}
@media(max-width: 768px){
	.priceDownload{
		width: 100%;
		margin-bottom: 55px;
	}
	.priceDownload a{
		padding: 10px;
	}
}

@media (max-width: 767px){
	body .priceContainer {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.quick_basket section.toggle input {
	height: auto;
	width: 50px;
	opacity: 1;
	position: static;
	z-index: 0;
}

.quick_basket section.toggle label {
  background: #302E2F;
  color: #FFF;
  border-color: #FFF;
  line-height: 20px;
}

.quick_basket section.toggle, .quick_basket section.toggle .table_title {
  margin:0;
}

.quick_basket section.toggle .table_title{
	border: 1px solid #DEDEDE;
}

.d-none-before {
	cursor: default !important;
}

.d-none-before:before {
	display: none;
}

@media (max-width: 768px) {
	body .quick_basket section.toggle .counter__left, .quick_basket section.toggle .counter__value, .quick_basket section.toggle .counter__right {
	  width: 40px;
	}
}