.sertificate-slider .slider-img-prev{
    width: 100%;
    min-height: 200px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
.sertificate-slider .item{
    text-align: center;
}

.sertificate-slider .item img{
    max-height: 350px;
}

@media(max-width: 768px){
    .sertificate-slider .item img{
        width: 100%;
    }
    .sertificate-slider .item img{
        max-height: none;
    }
}